body {
    background-color: transparent;
    background-image: url("middle.jpg"), url("edge.jpg");
    background-position: 50% 0px, 50% 0px;
    background-size: contain, 125px;
    background-repeat: repeat-y, repeat;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
  }
  
  .body {
    background-color: #000;
    background-image: url("middle.jpg");
    background-position: 50% 0px;
    background-size: auto;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
  
  .background {
    background-size: auto, auto;
    background-repeat: repeat-y, repeat;
    background-attachment: scroll, scroll;
  }
  .maindiv {
    margin: auto;
    width: 750px;
    padding: 10px;
  }

table, td, th {
    border: 1px solid #aaa;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

input, label {
  display:block;
}

