h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

.background {
  background-color: #000;
  background-image: url("middle_new.jpg");
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.maindiv {
    margin-left: 10%;
    margin-right: 10%;
  }

table, td, th {
    border: 1px solid #aaa;
    text-align: center;
    font-size: 0.9em;
}

table {
    border-collapse: collapse;
    margin-left:0%;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

input, label {
  display:block;
}

a:link {
  color: rgb(3, 97, 185);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(99, 64, 69);
  background-color: transparent;
  text-decoration: none;
}

.block {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin: .5rem;
}

.icon{
  height: 200px;
}

p{
  margin: 0;
}