{% extends 'base.html' %}

{% block head %}
<title>Hampo Whiskey Bar</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Whiskey Collection</h1>
        <h2 style="text-align: center">Add a New Bottle</h2>
        <div class="bottleinput">
            <form action="/collection" method="POST">
                <section>

                    <div style="float:left;margin-right:20px;">
                        <label for="bottle">Bottle</label>
                        <input id="bottle" type="text" value="" name="bottle" size="30">
                    </div>

                    <div style="float:left;margin-right:20px;">
                        <label for="type">Type</label>
                        <input id="type" type="text" value="" name="type">
                    </div>

                    <div style="float:left;">
                        <label for="proof">Proof</label>
                        <input id="proof" type="text" value="" name="proof">
                    </div>

                    <br style="clear:both;" />
                    <div >
                        <input type="submit" value="Add Bottle">
                    </div>
                </section>
            </form>
        </div>
        {% if collection|length < 1 %} <h4 style="text-align: center">The collection is empty.</h4>
        {% else %}
        <h2 style="text-align: center">Full Collection</h2>
        <table>
            <tr>
                <th>Bottle</th>
                <th>Type</th>
                <th>Proof</th>
                <th>Average Rating</th>
                <th>Date Added</th>
                <th>Date Killed</th>
                <th>Edit</th>

            </tr>
            {% for bot in collection %}
            <tr>
                <td>{{ bot.bottle }}</td>
                <td>{{ bot.whiskey_type }}</td>
                <td> {% if bot.proof.is_integer() %}
                    {{ '%d' % bot.proof }}
                    {% else %}
                    {{bot.proof}}
                    {% endif %}
                </td>
                <td>{{ bot.avg_rating }}</td>
                <td>{{ bot.date_added.strftime("%b %-d, %Y") }}</td>
                <td>{{ bot.date_killed }}</td>
                <td>
                    <a href="/edit/{{bot.bottle}}">Edit</a>
                    <a> | </a>
                    <a href="/kill/{{bot.bottle}}">Kill</a>
                    <a> | </a>
                    <a href="/delete/{{bot.bottle}}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

</div>

{% endblock %}