{% extends 'base.html' %}

{% block head %}
<title>Hampo Whiskey Bar</title>
{% endblock %}

{% block body %}
<div class="maindiv">
    <h1 style="text-align: center">Whiskey Collection</h1>
    <h2 style="text-align: center">Add a New Bottle</h2>
    <div class="bottleinput">
        <form action="/collection" method="POST">
            <section>

                <div style="float:left;margin-right:20px;">
                    <label for="bottle_name">Bottle</label>
                    <input id="bottle_name" type="text" value="" name="bottle_name" size="20">
                </div>

                <div style="float:left;margin-right:20px;">
                    <label for="type">Type</label>
                    <input id="type" type="text" value="" name="type">
                </div>

                <div style="float:left;">
                    <label for="proof">Proof</label>
                    <input id="proof" type="text" value="" name="proof">
                </div>

                <br style="clear:both;" />
                <div style="margin-top:20px">
                    <input type="submit" value="Add Bottle">
                </div>
            </section>
        </form>
    </div>
    {% if collection|length < 1 %} <h4 style="text-align: center">The collection is empty.</h4>
        {% else %}
        <h2 style="text-align: center">Full Collection</h2>
        <table>
            <tr>
                <th>Bottle</th>
                <th>Type</th>
                <th>Proof</th>
                <th>Average Rating</th>
                <th>Edit</th>

            </tr>
            {% for bot in collection %}
            <tr>
                <td>{{ bot.bottle_name }}</td>
                <td>{{ bot.whiskey_type }}</td>
                <td> {% if bot.proof.is_integer() %}
                    {{ '%d' % bot.proof }}
                    {% else %}
                    {{bot.proof}}
                    {% endif %}
                </td>
                <td>{{ bot.avg_rating }}</td>
                <td>
                    <a href="/editbottle/{{bot.bottle_id}}">Edit</a>
                    <a> | </a>
                    <a href="/deletebottle/{{bot.bottle_id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

</div>

{% endblock %}