{% extends 'base.html' %}

{% block head %}
<title>Edit Bottle</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Editing {{ bottle.bottle }}</h1>
    <table>
        <tr>
            <th>Bottle</th>
            <th>Type</th>
            <th>Proof</th>
            <th>Average Rating</th>
            <th>Date Added</th>
            <th>Date Killed</th>
            
        </tr>
        <tr>
            <td>{{ bottle.bottle }}</td>
            <td>{{ bottle.whiskey_type }}</td>
            <td> {% if bottle.proof.is_integer() %}
                {{ '%d' % bottle.proof }}
                {% else %}
                {{bottle.proof}}
                {% endif %}
            </td>
            <td>{{ bottle.avg_rating }}</td>
            <td>{{ bottle.date_added.strftime("%b %-d, %Y") }}</td>
            <td>{{ bottle.date_killed }}</td>
        </tr>
    </table>
    <div class="maindiv">
        <form action="/editbottle/{{bottle.bottle_id}}" method="POST">
            <section>

                <div style="float:left;margin-right:20px;">
                    <label for="bottle">Bottle</label>
                    <input id="bottle" type="text" value="" name="bottle" size="30">
                </div>

                <div style="float:left;margin-right:20px;">
                    <label for="type">Type</label>
                    <input id="type" type="text" value="" name="type">
                </div>

                <div style="float:left;">
                    <label for="proof">Proof</label>
                    <input id="proof" type="text" value="" name="proof">
                </div>

                <br style="clear:both;" />
                <div style="float:left;">
                    <label for="owner">Owner</label>
                    <input id="owner" type="text" value="" name="owner">
                </div>
                <br style="clear:both;" />
                <div style="margin-top:20px">
                    <input type="submit" value="Add Bottle">
                </div>
            </section>
        </form>
    </div>
</div>
{% endblock %}