{% extends 'base.html' %}

{% block head %}
<title>Edit Bottle</title>
{% endblock %}

{% block body %}
<div class="maindiv">
    <h1 style="text-align: center">Editing {{ bottle.bottle }}</h1>
    <table>
        <tr>
            <th>Bottle</th>
            <th>Type</th>
            <th>Proof</th>
            
        </tr>
        <tr>
            <td>{{ bottle.bottle_name }}</td>
            <td>{{ bottle.whiskey_type }}</td>
            <td> {% if bottle.proof.is_integer() %}
                {{ '%d' % bottle.proof }}
                {% else %}
                {{bottle.proof}}
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="maindiv">
        <form action="/editbottle/{{bottle.bottle_id}}" method="POST">
            <section>

                <div>
                    <label for="bottle">Bottle</label>
                    <input id="bottle" type="text" value="" name="bottle" size="20" class="testinput">
                </div>

                <div>
                    <label for="type">Type</label>
                    <input id="type" type="text" value="" name="type" class="testinput">
                </div>

                <div>
                    <label for="proof">Proof</label>
                    <input id="proof" type="text" value="" name="proof" class="testinput">
                </div>

                <br style="clear:both;" />
                <div style="margin-top:20px">
                    <input type="submit" value="Submit">
                </div>
            </section>
        </form>
    </div>
</div>
{% endblock %}