{% extends 'base.html' %}

{% block head %}
<title>Hampo Whiskey Bar</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Whiskey Collection</h1>
    {% if collection|length < 1 %}
    <h4 style="text-align: center">The collection is empty.</h4>
    {% else %}
    <table>
        <tr>
            <th>Bottle</th>
            <th>Type</th>
            <th>Proof</th>
            <th>Average Rating</th>
            <th>Rate</th>
            <th>Date Added</th>
            <th>Date Killed</th>
            
        </tr>
        {% for bot in collection %}
            <tr>
                <td>{{ bot.bottle }}</td>
                <td>{{ bot.whiskey_type }}</td>
                <td> {% if bot.proof.is_integer() %}
                    {{ '%d' % bot.proof }}
                    {% else %}
                    {{bot.proof}}
                    {% endif %}
                </td>
                <td>{{ bot.avg_rating }}</td>
                <td>
                    <a href="/rate/{{bot.bottle}}">Rate</a>
                </td>
                <td>{{ bot.date_added }}</td>
                <td>{{ bot.date_killed }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="bottle" id="bottle">
            <input type="text" name="type" id="type">
            <input type="text" name="proof" id="proof">
            <input type="submit" value="Add Bottle">
        </form>
    </div>
    
</div>

{% endblock %}