{% extends 'base.html' %}

{% block head %}
<title>The Boys Whiskey Collection</title>
{% endblock %}

{% block body %}
<div class="maindiv">
    <h1 style="text-align: center">The Boys Whiskey Collection</h1>
    {% if collection|length < 1 %} <h4 style="text-align: center">The collection is empty.</h4>
        {% else %}
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <table class="sortable">
                <tr>
                    <th>Bottle</th>
                    <th>Type</th>
                    <th>Proof</th>
                    <th>Average Rating</th>

                </tr>
                {% for bot in collection %}
                <tr>
                    <td>
                        <a href="/rate/{{bot.bottle_id}}">{{ bot.bottle_name }}</a>
                    </td>
                    <td>{{ bot.whiskey_type }}</td>
                    <td> {% if bot.proof.is_integer() %}
                        {{ '%d' % bot.proof }}
                        {% else %}
                        {{ bot.proof}}
                        {% endif %}
                    </td>
                    <td>{{ '%.1f' % bot.avg_rating }}</td>
                </tr>
                {% endfor %}
        </table>
        {% endif %}
</div>

{% endblock %}