{% extends 'base.html' %}

{% block head %}
<title>How was your drink?</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Please rate {{ bottle.bottle }} from 1-10</h1>

    <div class="bottleinput">
        <form action="/rate/{{bottle.bottle_id}}" method="POST">
            <label for="rating"> Rating</label>
            <input type="text" name="rating" id="rating">
            <input type="submit" value="Rate">
        </form>
    </div>
</div>
{% endblock %}