{% extends 'base.html' %}

{% block head %}
<title>How was your drink?</title>
{% endblock %}

{% block body %}
<div class="maindiv">
    <h1 style="text-align: center">{{ bottle.bottle_name }}</h1>

    <img class="icon" src="{{ image }}">
    <div class="center">
        <form action="/rate/{{bottle.bottle_name}}" method="POST">
            <div class="block">
                <label for="rating"> Rating </label>
                <input type="number" name="rating" id="rating">
            </div>
            <div class="block">
                <label for="blind"> Blind? </label>
                <input type="checkbox" name="blind" id="blind">
            </div>
            <div class="block">
                <label for="name"> Drinker </label>
                <input type="text" name="name" id="name">
            </div>
            <input type="submit" value="Rate">
        </form>
    </div>
    <div>
        <p>0-2.9: Drain Pour</p>
        <p>3-3.9: Terrible</p>
        <p>4-4.9: Not Good</p>
        <p>5-5.9: Good but not my jam</p>
        <p>6-6.9: Decent to Pretty Good</p>
        <p>7-7.9: Very Good</p>
        <p>8-8.9: Great to Spectacular</p>
        <p>9-9.9: Some of the best I've ever had</p>
    </div>
</div>
{% endblock %}