{% extends 'base.html' %}

{% block head %}
<title>How was your drink?</title>
{% endblock %}

{% block body %}
<div class="maindiv">
    <h1 style="text-align: center">Please rate {{ bottle.bottle_name }} from 1-10</h1>

    <div class="center">
        <form action="/rate/{{bottle.bottle_name}}" method="POST">
            <label for="rating"> Rating</label>
            <input type="text" name="rating" id="rating">
            <label for="blind"> Blind?</label>
            <input type="checkbox" name="blind" id="blind">
            <label for="name"> Drinker</label>
            <input type="text" name="name" id="name">
            <input type="submit" value="Rate">
        </form>
    </div>
</div>
{% endblock %}